/* ---- reset ---- */
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.main-content {
  padding-left: 30px;
  padding-right: 30px;
  width: 100% !important;
  height: 100% !important;
}
