{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block html_title %} {% trans "Mediusware" %} {% endblock html_title %}

{% block root_content %}

{% include "base/nav.html" %}

<div class="container-fluid mt-4">
  <div style="height: 10vh"></div>
  <div class="row">
    <div class="col-12 col-md-4 offset-md-4">
      <div class="shadow rounded bg-white p-4" style="margin-top: 15%">
        <div class="text-center mb-4">
          <h2 class="card-header-title font-weight-bold">
            {% trans 'SIGN IN' %}
          </h2>
        </div>

        <form
          method="post"
          id="example_login_form"
          action="{% url 'core:login' %}"
        >
          {% if form.non_field_errors %}
          <div class="alert alert-danger form-error">
            <a class="close" data-dismiss="alert">&times;</a>
            {% for non_field_error in form.non_field_errors %} {{
            non_field_error }} {% endfor %}
          </div>
          {% endif %} {% csrf_token %} {% comment %} {{ form|bootstrap }} {% endcomment %}
          <div class="form-group">
            <label class="control-label" for="id_username"
              >{% trans "Username" %}</label
            >
            <div class=" ">
              <input type="text" name="username" autofocus=""
              class="form-control" required id="id_username">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="id_password"
              >{% trans "Password" %}</label
            >
            <div class=" ">
              <input type="password" name="password" class="form-control"
              required id="id_password" placeholder='{% trans "e.g. 2j3tUyj5Ss"%}'>
            </div>
          </div>
          <div class="mt-4">
            <button
              id="btn_login"
              class="btn btn-success btn-block"
              type="submit"
            >
              <span class="txt_sign_in"><b>{% trans "SIGN IN" %}</b></span>
              <span class="spinner" style="display: none">
                <div
                  class="spinner-border text-light"
                  role="status"
                  style="height: 1.3rem; width: 1.3rem"
                ></div>
              </span>
            </button>
          </div>
        </form>

        <div class="text-center">
          <a href="{% url 'password_reset' %}"
            >{% trans "Forgot password? Click here" %}</a
          >
        </div>
        {% comment %} Forgot Password? <a href="#">Click Here</a> {% endcomment %}
      </div>
    </div>
  </div>
</div>
{% endblock root_content %}
